<h1>Currently available Books</h1>
<button routerLink="/newbook">Add new Book</button>
<table>
  <tr *ngFor="let book of books">
    <td>Title: {{book.title}}</td>
    <td>ISBN: {{book.isbn}}</td>
    <td>Pages: {{book.pages}}</td>

    <td *ngIf="book.returnDate">Return Date: {{book.returnDate}}</td>
    <td *ngIf="!book.returnDate">
      <button (click)="borrowBook(book)">Borrow Book</button>
    </td>
    <td>
      <button class="btn btn-default"
              [routerLink]="['/books', book.isbn]">Show Book
      </button>
    </td>
    <td>
      <button class="btn btn-default"
              (click)="deleteBook(book)">Delete Book
      </button>
    </td>
  </tr>
</table>
