<div>
  <h1>Available Books</h1>
  <a *ngIf="!authUser" routerLink="/home">Log in to borrow books</a>
  <button class="btn btn-default" *ngIf="checkIfUserHasRight()" routerLink="/newbook">Add new Book</button>
</div>
<div class="card-group" *ngFor="let book of books">
  <div class="card">
    <div class="header">
      <h4 class="card-title">Title: {{book.title}}</h4>
    </div>
    <p class="card-text">Author: {{book.author}}</p>
    <p class="card-text">ISBN: {{book.isbn}}</p>
    <p class="card-text">Pages: {{book.pages}}</p>
    <p class="card-text" *ngIf="book.returnDate">Return Date: {{book.returnDate}}</p>
    <div class="container col-lg-offset-3">
      <span *ngIf="checkIfBookCanBeBorrowed(book)">
        <button class="btn btn-default" (click)="borrowBook(book)">Borrow Book</button>
      </span>
      <span>
        <button class="btn btn-default" [routerLink]="['/books', book.isbn]">Show Book</button>
      </span>
      <span *ngIf="checkIfUserHasRight()">
        <button class="btn btn-default"
                (click)="deleteBook(book)">Delete Book
        </button>
      </span>
    </div>
  </div>
</div>
