<div class="usercreate">
  <div>
    <form #f="ngForm">
      <div class="form-group">
        <h4 class="card-title">Vorname</h4>
        <input class="form-control border-input" maxlength="20" [(ngModel)]="userToCreate.firstname" name="firstname" required minlength="3">
      </div>
      <div *ngIf="f.controls['firstname']?.hasError('required')"> [required]</div>

      <div class="form-group">
        <h4 class="card-title">Nachname:</h4>
        <input [(ngModel)]="userToCreate.lastname" name="lastname" class="form-control border-input" maxlength="20">
      </div>
      <div *ngIf="!f.controls['lastname']?.hasError('required') && !f.controls['lastname']?.hasError('required')" class="form-group"></div>
     
      <div class="form-group">
        <h4 class="card-title">e-Mail Adresse:</h4>
        <input [(ngModel)]="userToCreate.eMail" name="email" class="form-control border-input" maxlength="20">
      </div>
      <div *ngIf="!f.controls['email']?.hasError('required') && !f.controls['email']?.hasError('required')" class="form-group"></div>
     
      <div class="form-group">
        <h4 class="card-title">Private Key BitcoinWallet:</h4>
        <input [(ngModel)]="userToCreate.bitCoinWalletPrivateKey" name="pkbc" class="form-control border-input" maxlength="20">
      </div>
      <div *ngIf="f.controls['pkbc']?.hasError('required')"> [required]</div>
      <div *ngIf="!f.controls['pkbc']?.hasError('required') && !f.controls['pkbc']?.hasError('required')" class="form-group">
          <div class="form-group">
              <h4 class="card-header">Password:</h4>
              <input [(ngModel)]="userToCreate.password" [minlength]=8 name="password" class="form-control border-input" required type="password">
            </div>
            <div *ngIf="f.controls['password']?.hasError('required')"> [required]</div>
            <div *ngIf="f.controls['password']?.hasError('minlength')"> Minimum length for Password is 8 characters</div>
            
      <button class="btn btn-default"  *ngIf="!f?.controls['password']?.hasError('minlength') && !f?.controls['email']?.hasError('required')" type="button" (click)="createNewUser()">
        Create User
      </button>
      </div>
    </form>

  </div>