<div class="sidebar-wrapper">
  <div class="logo">
      <a class="simple-text">
          <div class="logo-img">
              <img src="../../assets/img/book.png" alt="">
          </div>
         Bookstore
      </a>
  </div>
  <ul class="nav">
      <li>
          <a>
              <p><a routerLink="">Home</a></p>
          </a>
      </li>
      <li>
          <a>
              <p><a routerLink="users">Users</a></p>
          </a>
      </li>
      <li>
          <a>
              <p><a routerLink="books">Books</a></p>
          </a>
      </li>

  </ul>
</div>
