<h1>Users</h1>
<div id="addUser">
  <button class="btn btn-default" *ngIf="checkIfUserHasRight()" routerLink="/newusers">
    Add User
  </button>
</div>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>eMail</th>
        <th>BitCoin Wallet</th>
        <th>Role</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td> {{user?.firstname}}</td>
        <td> {{user?.lastname}}</td>
        <td> {{user?.eMail}}</td>
        <td>{{user?.bitCoinWalletPrivateKey}}</td>
        <td>{{user?.role}}</td>
        <td>
          <div class="form-group">
            <button class="btn btn-default" *ngIf="checkIfUserHasRight()" [routerLink]="['/users', user.userId]">
              Modify
            </button>
            <span *ngIf="checkIfUserHasRight()">
                <button class="btn btn-default"
                        (click)="deleteUser(user)">Delete
                </button>
              </span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>