<div class="user1">
  <div *ngIf="editMode">
    <form #f="ngForm">
      <div class="form-group">
        <h4 class="card-title">Vorname</h4>
        <input class="form-control border-input" maxlength="20" [(ngModel)]="selectedUser.firstname" name="firstname" required minlength="3">
      </div>
      <div *ngIf="f.controls['firstname']?.hasError('required')"> [required]</div>

      <div class="form-group">
        <h4 class="card-title">Nachname:</h4>
        <input [(ngModel)]="selectedUser.lastname" name="lastname" class="form-control border-input" maxlength="20">
      </div>
      <div *ngIf="f.controls['lastname']?.hasError('required')"> [required]</div>
      <div *ngIf="!f.controls['lastname']?.hasError('required') && !f.controls['lastname']?.hasError('required')" class="form-group"></div>
     
      <div class="form-group">
        <h4 class="card-title">e-Mail Adresse:</h4>
        <input [(ngModel)]="selectedUser.email" name="email" class="form-control border-input" maxlength="20">
      </div>
      <div *ngIf="f.controls['email']?.hasError('required')"> [required]</div>
      <div *ngIf="!f.controls['email']?.hasError('required') && !f.controls['email']?.hasError('required')" class="form-group"></div>
     
      <div class="form-group">
        <h4 class="card-title">Private Key BitcoinWallet:</h4>
        <input [(ngModel)]="selectedUser.bitcoinWalletPrivateKey" name="pkbc" class="form-control border-input" maxlength="20">
      </div>
      <div *ngIf="f.controls['pkbc']?.hasError('required')"> [required]</div>
      <div *ngIf="!f.controls['pkbc']?.hasError('required') && !f.controls['pkbc']?.hasError('required')" class="form-group">
      <div class="form-group">
          <h4 class="card-header">Password:</h4>
          <input [(ngModel)]="selectedUser.password" name="password" class="form-control border-input" required type="password">
        </div>
        <div *ngIf="f.controls['password']?.hasError('required')"> [required]</div>

      <button class="btn btn-default" type="button" (click)="updateUser()">
        Submit
      </button>
      </div>
    </form>

  </div>
    <div *ngIf="!editMode">
      <h4 class="card-title">Vorname: {{selectedUser?.firstname}}</h4>
      <p class="card-text">Nachname: {{selectedUser?.lastname}}</p>
      <p class="card-text">e-Mail: {{selectedUser?.email}}</p>
      <p class="card-text">BitcoinWalletPrivateKey: {{selectedUser?.bitcoinWalletPrivateKey}}</p>
      <p class="card-text">Id: {{selectedUser?.userId}}</p>
    </div>
    <button *ngIf="!editMode" class="btn btn-default" (click)="changeUser()">Edit User
    </button>
    </div>